@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(4 9 33);
  --secondary: rgb(113 113 113);
  --tertiary: rgb(175 222 30);

  --btn-primary: #0057d1;
  --btn-disabled: #c7c7c7;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", system-ui;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.link-with-hover-line {
  position: relative;
  display: inline-block;
}

.link-with-hover-line::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #88c444, #2db4e7);
  transition: width 0.3s ease-in-out;
}

.link-with-hover-line:hover::after {
  width: 100%;
}
